{% extends  "base.html" %}
{% block content %}
{% load static %}
<section class="hero-wrap hero-wrap-2" style="background-image: url(&quot;/media/cleaning3.jpg&quot;); background-position: 50% 0%;" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end">
      <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">
        <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Services <i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-0 bread">Services</h1>
      </div>
    </div>
  </div>
</section>



		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-12 heading-section  text-center ftco-animate">
          	<span class="subheading">Our Services</span>
            <h2>What we offer</h2>
          </div>
        </div>
				<div class="row">

             {% for portfolio in portfolio %}

          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="block-7">
            <div class="work img d-flex align-items-center" style="{{portfolio.image.url}}">

                <img src="{{portfolio.image.url}}" class="work img d-flex align-items-center">

              </div>

            	<div class="desc w-100 px-4 text-center pt-5 mt-5">
	              <div class="text w-100 mb-3 mt-4">
	              	<h4><a href="work-single.html">{{portfolio.name}}</a></h4>
                  </div>


                  <ul class="pricing-text mb-5">
                    {% for feature in portfolio.featuresportfolio_set.all %}
                    <li><span class="fa fa-check mr-2"></span>{{ feature.name }}</li>
                     {% endfor %}
                        </ul>
                      </div>



             </div>
          </div>
          {% endfor %}



			</div>
		</section>
  </body>
{% endblock %}